body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #f2ebe4;
  list-style: none;
  list-style-type: none;
}

.dashboard table {
  border-collapse: collapse;
  border: 1px solid #000;
}

.dashboard th,
.dashboard td {
  border: 1px solid #000;
}